
/*GLOBAL*/
body {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /*background-color: rgb(252, 255, 236);*/
    color: rgb(107, 93, 63);
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgb(255, 255, 255), rgb(170, 153, 109)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgb(255, 255, 255), rgb(170, 153, 109)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(255, 255, 255), rgb(170, 153, 109)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(170, 153, 109)); /* Standard syntax */
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(82, 72, 51);
}

h1, h2, h4 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Tunga, Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

header {
    color: rgb(163, 151, 125);
    margin: 70px 0 20px 0;
    padding-bottom: 20px;
    font-weight: 800;
    font-size: x-large;
}

btn {
    padding: 8px 30px;
    margin: 10px;
    /*round
    border-radius:50%;*/
    color: rgb(102, 92, 71);
    border-radius: 10px;
    background-color: rgb(210, 193, 159);
    border: 1px solid rgb(201, 187, 150);
    /*SAFARI*/
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.3s;
}

    btn:hover {
        background-color: rgb(140, 124, 89);
        color: white;
        border: 2px solid rgb(201, 187, 150);
    }

    btn:current {
        color: rgb(123, 117, 101);
        background-color: rgb(232, 222, 191);
        border: 1px solid rgb(123, 117, 101);
    }


.navbar {
    background-color: gray;
    color: rgb(163, 151, 125);
    border: 1px solid rgb(123, 117, 101);
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: large;
    padding: 10px 165px 0 60px;
    color: rgb(122, 109, 82);
}

li {
    padding: 0 10px 0 10px;
    color: rgb(163, 151, 125);
}

a {
    text-decoration: none;
}

footer {
    margin-top: 10px;
    padding: 8px 0 5px 0;
    line-height: 1px;
    background-color: rgb(150, 142, 111);
    color: white;
    opacity: .3;
}


/******HOME PAGE******/
.jumbotron {
    background: url("Images/tuscany-villas-sant-anna.jpg") center center;
    width: 100%;
    height: 600px;
    background-size: cover;
    border-radius: 0px;
    color: white;
    font-family: Narkisim, Times New Roman, serif;
    text-shadow: 2px 2px 6px rgb(140, 125, 100);
    display:flex;
    justify-content:center;
    align-items:center;
}

    .jumbotron h1 h2 {
        font-size: 10rem;
        font-weight: 900;
        margin-top: 800px;
        line-height: 2;
    }

h1 {
    text-shadow: 2px 2px 4px rgb(140, 125, 100);
}

/******LOCATIONS???******/
.location-rows {
    padding: 5px;
}

location-rows-image-right {
    min-width: 900px;
    height: auto;
    float: right;
}

location-rows-image-right {
    min-width: 900px;
    height: auto;
    float: left;
}

.reviews {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*shadow dimensions: 2px | shadow blur | shadow color;*/
    text-shadow: 2px 2px 4px rgb(140, 125, 100);
    padding: 20px;
    margin: 20px;
}


#myCarousel {
    height: 100%;
    overflow: hidden;
}

    #myCarousel img {
        height: 600px;
        width: 100%;
    }

    #myCarousel h2 {
        margin-top: 10px;
        padding-top: 0px;
    }

#showcase-stars {
    color: white;
    margin-top: 0px;
}

/******DETAILS******/
.checkerboard-image {
    box-shadow: 04px 10px 0 rgbA(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,-.10);
}

checkerboard-text {
    padding: 40px 3px 0 3px;
}

#contacts {
    line-height: 1;
}

input:focus {
    background-color: lightblue;
}


/*ul {
    display: inline;
    margin: 0px;
}*/
/*clockwise*/
/*header li {
    padding: 0px, 20px, 0px, 20px;
}*/

/*header nav {
    margin-top: 10px;
}

header #branding h1 {
}


header .highlight, header .current a {
    color: navy;
    font-weight: bold;
}

header a:hover {
    color: teal;
    font-weight: bold;
    text-decoration: none;
}*/





/*button_1{
    height:38px;
    background-color:navy;
    color:white;
    border:0;
    padding-left:20px;
    padding-right:20px;
}*/

/*HEADER navigation*/
/*header {
    color: navy;
}

    header a {
        text-transform: uppercase;
        text-decoration: none;
        color: mediumaquamarine;
        font-size: 16px;
        font-weight: bold;
    }*/

/*ul {
    display: inline;
    margin: 0px;
}*/
/*clockwise*/
/*header li {
    padding: 0px, 20px, 0px, 20px;
}*/

/*header nav {
    margin-top: 10px;
}

header #branding h1 {
}


header .highlight, header .current a {
    color: navy;
    font-weight: bold;
}

header a:hover {
    color: teal;
    font-weight: bold;
    text-decoration: none;
}*/

/*JUMBOTRON*/
/*.jumbotron h1, h3 {
    background: url("Images/tuscany-villas-sant-anna.jpg") center;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size: cover;
    margin: 0px;
    background-color: white;
    color: white;
    font-size: 70px;
}*/



/*SHOWCASE*/
/*#showcase {
    min-height: 400px;
    color: antiquewhite;
    text-align: center;
}

    #showcase h1 {
        margin-top: 50px;
        font-size: 55px;
        margin-bottom: 10px;
    }

    #showcase p {
        font-size: 20px;
    }*/


/**INFOREQUEST*/
/*#inforequest {
    color: aquamarine;
    Background: navy;
    padding: 15px;
}
#inforequest h1{
    float:left;

}
#inforequest form{
    float:right;
    margin-top:15px;
}

#inforequest input[type=email]{
    padding:4px;
    height:25px;
    width:250px;
}*/


/*BOXES*/
/*#boxes{
    margin-top:20px;
}

#boxes .box{
float: left;
width:30%;
padding:10px;
text-align:center;
}

#boxes .box img{
    width:90px;
}

footer{
    padding:20px;
    margin-top:20px;
    color:white;
    background-color:navy;
    text-align: center;
}*/






/*h1 {
    font-family: Georgia, Times, Times New Roman, serif;
}


h2,
h3,
h4 {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 30px;
}*/










/*

nav#navvy.navbar.navbar-static-top {
    margin: 0px;
    color: white;
    background-color: rgb(38, 55, 71);
    font-weight: 700;
}

#star {
    align-content: center;
}

#navvy a {
    color: white;
}

h2 {
    color: white;
}

h3 {
    text-align: center;
}

#navvy a:hover {
    color: rgb(38, 55, 27);
    background-color: white;
}

JUMBOTRON


#headertitle {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.locationrowswhite {
    padding: 30px;
    background-color: white;
    color: rgb(36, 51, 70);
    text-align: left;
    max-height: 300px;
}

.locationrowsnavy {
    padding: 30px;
    background-color: rgb(38, 55, 71);
    color: white;
    text-align: right;
    max-height: 300px;
}

.navyheader {
    color: rgb(38, 55, 71);
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.whiteheader {
    color: white;
    background-color: rgb(38, 55, 71);
}
ROWS
.navyrow {
    padding: 0px;
    background-color: rgb(38, 55, 71);
    color: white;
    text-align: center;
}

.whiterow {
    padding: 0px;
    background-color: white;
    color: rgb(38, 55, 71);
    text-align: center;
}

.img-responsive {
    display: block;
    width: 400px;
    height: 300px;
    margin: 0px;
}


BUTTONS
.navybutton {
    color: white;
    background-color: rgb(38, 55, 71);
    margin: 20px;
}

.whitebutton {
    color: rgb(38, 55, 71);
    margin: 20px;
}

.transbox {
    margin: 15px;
    padding: 15px;
    background-color: rgbA(0,0,0,.5);
    color: white;
    opacity: 0.5;
}

.receptions {
    background-image: url('../Images/3b-348x348.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.relax {
    background-image: url('Images/42-348x348.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.feels {
    background-image: url('Images/314-348x348.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.enjoy {
    background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.private {
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.checkerboard {
    text-align: center;
    padding: 30px;
}

#checkerboardpics {
    margin: 0px;
}

.checkerboardheader {
    color: white;
    background-color: rgb(38, 55, 71);
    text-align: center;
    margin: 100px;
    padding-top: 200px;
}

.checkerBoardRow {
    background-color: white;
    color: rgb(38, 55, 71);
    text-align: center;
    margin: 0px;
}

reviews
h4 {
    font-style: italic;
}

.myCarousel {
    max-height: 40px;
}

    .myCarousel img {
        height: 100%;
    }

.contactSection {
    padding: 30px;
    margin: 30px;
    color: rgb(38, 55, 71);
    text-align: left;
}*/
